.error404 {
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 5rem;
}

.error404 img {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .error404 img {
    width: 800px;
    height: auto;
  }
}
