.sidebar {
  position: fixed;
  left: -500px;
  top: 0;
  background-color: #6777ef;
  min-height: 100vh;
  box-shadow: 0 0 10px #aaa;
}

.sidebar.active {
  opacity: 0.5;
}

.sidebar-logo {
  max-height: 50px;
  min-height: 50px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
.sidebar-logo a {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
}
.sidebar-logo a:hover {
  color: rgba(238, 238, 238, 0.686);
}

.sidebar-division {
  margin: 0rem 0.3rem;
  background-color: #fff;
}

.sidebar-menu {
  margin-top: 1rem;
  list-style: none;
  padding-left: 0;
}
.sidebar-menu-element {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.sidebar-menu-link {
  padding: 1rem 0;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  text-align: center;
}
.sidebar-menu-link.active {
  background-color: rgba(152, 164, 252, 0.556);
}

.sidebar-menu-icon {
  width: 20px;
  height: 20px;
}

.sidebar-menu-title {
  width: 0px;
  font-size: 0rem;
  text-align: center;
}

.sidebar-menu-element:hover {
  background-color: rgba(255, 255, 255, 0.501);
}
.sidebar.show {
  left: 0;
  width: 15%;
}

/*Pantallas desde 900px en adelante*/
@media screen and (min-width: 900px) {
  .sidebar {
    left: 0;
    width: 15%;
  }
}
/*Pantallas desde 700px en adelante*/
@media screen and (min-width: 700px) {
  .sidebar-menu-link {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
  }
  .sidebar-menu-title {
    min-width: 80px;
    font-size: 0.8rem;
    text-align: left;
  }
  .sidebar-menu-icon {
    width: 20px;
    height: 20px;
  }
}
